In [2]:
import numpy as np
import pandas as pd

data = pd.read_csv('전국어린이보호구역표준데이터.csv',encoding='cp949')
sub_data = data[['시설종류','CCTV설치대수']]
comlumn_selection = ['시설종류','관할경찰서명','CCTV설치여부','CCTV설치대수','제공기관명','보호구역도로폭']
print(sub_data.groupby('시설종류').sum())
print('cctv설치대수 평균',data['CCTV설치대수'].mean())
r1 = data['CCTV설치대수']
r2 = data['보호구역도로폭']

#print('도로폭/cctv 설치대수 상관도',r1.corr())

           CCTV설치대수
시설종류
국제학교            3.0
대안학교            0.0
어린이집         3881.0
외국인교육기관         0.0
외국인학교           8.0
유치원          6041.0
초등학교        19937.0
초등학교+어린이집      39.0
특수학교          243.0
학원             64.0
cctv설치대수 평균 2.5865434001027223

In [25]:
data = data[comlumn_selection]
#print(data.columns)
#print(data.dtypes)
data['시설종류'] = data['시설종류'].astype('category')
data['관할경찰서명'] = data['관할경찰서명'].astype('category')
data.describe(include='all')

         시설종류 관할경찰서명 CCTV설치여부      CCTV설치대수  제공기관명 보호구역도로폭
count   15056  15056    15056  11682.000000  15056   10684
unique     10    262        2           NaN    225     528
top      초등학교  서부경찰서        Y           NaN   경상남도       6
freq     6965    299    11687           NaN    759    1600
mean      NaN    NaN      NaN      2.586543    NaN     NaN
std       NaN    NaN      NaN      2.937831    NaN     NaN
min       NaN    NaN      NaN      0.000000    NaN     NaN
25%       NaN    NaN      NaN      1.000000    NaN     NaN
50%       NaN    NaN      NaN      2.000000    NaN     NaN
75%       NaN    NaN      NaN      3.000000    NaN     NaN
max       NaN    NaN      NaN     46.000000    NaN     NaN

In [26]:
# 결측치 확인
#print(data.shape)
#print(data.describe(include='all'))

for e in data :
    print(e,data[e].hasnans)
    if data[e].hasnans == True :
        print(data[e].isna().value_counts())

시설종류 False
관할경찰서명 False
CCTV설치여부 False
CCTV설치대수 True
False    11682
True      3374
Name: CCTV설치대수, dtype: int64
제공기관명 False
보호구역도로폭 True
False    10684
True      4372
Name: 보호구역도로폭, dtype: int64

In [46]:
def myfn1(x) :
    if type(x) == type(' '):
        if '~' in x :
            m = np.array(x.split('~')).astype(np.float64).mean()
            return str(m)
# 도로폭 : 오류치 처리
# 숫자~숫자 형태의 문자열 --> 평균치 np.float64값으로 대체
#print(data['보호구역도로폭'].isna().value_counts())

data['보호구역도로폭'].apply(myfn1)
#print(data['보호구역도로폭'])
print(data['보호구역도로폭'].isna().value_counts())
y = y.astype(np.float64)
y = y.replace(np.NaN,y.mean())
#print(y.isna.value_counts())
data['도로구역도로폭'] = y

False    10684
True      4372
Name: 보호구역도로폭, dtype: int64
False    10684
True      4372
Name: 보호구역도로폭, dtype: int64

### 시설종류
* dtype : category
* value :
* 결측치 없음
### 관할경찰서명
* dtype : object
* 결측치 없음
### CCTV 설치여부
* dtype : category
* value: 'Y', 'N'

### CCTV 설치대수
* dtype: np.int64
* min/ max : 0/ 
* 결측치 (개, 처리후 결측치 없음)
    CCTV 설치 여부 'Y' --> 1
    CCTv 설치 여부 'N' --> 0

In [53]:
g1 = data.groupby('시설종류')
#g1.count()
g1['CCTV설치대수'].sum()

시설종류
국제학교             3.0
대안학교             0.0
어린이집          3881.0
외국인교육기관          0.0
외국인학교            8.0
유치원           6041.0
초등학교         19937.0
초등학교+어린이집       39.0
특수학교           243.0
학원              64.0
Name: CCTV설치대수, dtype: float64

In [9]:
df_t = pd.DataFrame({'a' : [1,1,2,2], 'b' : [5,6,5,6]})
print(df_t)
f1  = df_t['a']==1 
print('***********')
print(df_t.loc[f1,:]) # a의 값이 1인값
df_t.loc[f1,'b'] = df_t.loc[f1,'b'].replace(6,100) # a의 값이 1인값들중에 b의 값이 6인값을 100을 바꾸기
print('**********')
print(df_t)

   a  b
0  1  5
1  1  6
2  2  5
3  2  6
***********
   a  b
0  1  5
1  1  6
**********
   a    b
0  1    5
1  1  100
2  2    5
3  2    6