In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
f_path = "c:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family=font_name)

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data'
pd_data = pd.read_csv(url, header=None)
pd_data.columns= ['구매가','유지비용','문갯수','탑승인원','수납공간','안전도','만족도']
pd_data.head()

     구매가   유지비용 문갯수 탑승인원   수납공간   안전도    만족도
0  vhigh  vhigh   2    2  small   low  unacc
1  vhigh  vhigh   2    2  small   med  unacc
2  vhigh  vhigh   2    2  small  high  unacc
3  vhigh  vhigh   2    2    med   low  unacc
4  vhigh  vhigh   2    2    med   med  unacc

* 구매가가 만족도에 미치는 영향
* 구매가가 높은 차량이 안전도가 높은가
* 수납공간이 크면 탑승인원도 많은가

In [19]:
fig = plt.figure()
sann_axe = plt.scatter.add_subplot(1,2,1)

AttributeError: 'function' object has no attribute 'add_subplot'