In [34]:
import numpy as np
import pandas as pd
import matplotlib as plot

pop_df = pd.read_csv('등록인구추이_20230223163325.csv', encoding = 'cp949')
pop_df=pop_df.drop(0,axis=0)
pop_df.columns = ['시점','세대수','인구_남','인구_여','한국인','외국인','인구밀도']
pop_df.head()

     시점      세대수     인구_남     인구_여      한국인    외국인    인구밀도
1  2018  1480468  1721327  1772692  3441453  52566  769.94
2  2019  1497908  1704098  1762465  3413841  52722  770.07
3  2020  1530431  1686412  1752298  3391946  46764  770.07

In [35]:
pop_df.insert(3,'남/여 인구비율',pop_df['인구_남'].astype(np.float64)/pop_df['인구_여'].astype(np.float64))
pop_df.head()

     시점      세대수     인구_남  남/여 인구비율     인구_여      한국인    외국인    인구밀도
1  2018  1480468  1721327  0.971024  1772692  3441453  52566  769.94
2  2019  1497908  1704098  0.966883  1762465  3413841  52722  770.07
3  2020  1530431  1686412  0.962400  1752298  3391946  46764  770.07

In [36]:
pop_df.insert(6,'한국인/외국인 인구비율',pop_df['한국인'].astype(np.float64)/pop_df['외국인'].astype(np.float64))

In [38]:
pop_df.head()
pop_df.astype(np.float64)

,시점,세대수,인구_남,남/여 인구비율,인구_여,한국인,한국인/외국인 인구비율,외국인,인구밀도
1,2018.0,1480468.0,1721327.0,0.971024,1772692.0,3441453.0,65.469182,52566.0,769.94
2,2019.0,1497908.0,1704098.0,0.966883,1762465.0,3413841.0,64.751736,52722.0,770.07
3,2020.0,1530431.0,1686412.0,0.962400,1752298.0,3391946.0,72.533273,46764.0,770.07