In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
f_path = "c:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family=font_name)

pd_data=pd.read_csv('2014~21이륜차.csv',encoding='cp949')
pd_data

,시도명,시군구,레벨01,항목,단위,2014.01 월,2014.02 월,2014.03 월,2014.04 월,2014.05 월,...,2020.04 월,2020.05 월,2020.06 월,2020.07 월,2020.08 월,2020.09 월,2020.10 월,2020.11 월,2020.12 월,Unnamed: 89
0,부산,강서구,관용,경형,NaN,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,NaN
1,부산,강서구,관용,소형,NaN,10,10,10,10,11,...,11,11,11,11,11,11,11,11,11,NaN
2,부산,강서구,관용,중형,NaN,46,46,44,45,46,...,57,57,59,59,59,61,57,57,59,NaN
3,부산,강서구,관용,대형,NaN,1,1,1,1,1,...,0,0,0,0,0,0,0,1,1,NaN
4,부산,강서구,자가용,경형,NaN,384,382,381,378,387,...,364,382,381,379,382,380,380,378,379,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,부산,부산기타,관용,대형,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
132,부산,부산기타,자가용,경형,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
133,부산,부산기타,자가용,소형,NaN,17,17,17,17,17,...,10,10,10,10,10,10,10,10,10,NaN
134,부산,부산기타,자가용,중형,NaN,8,8,8,8,8,...,4,4,4,4,4,4,4,4,4,NaN
135,부산,부산기타,자가용,대형,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN