In [69]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
f_path = "c:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family=font_name)

pd_data = pd.read_csv('소득총괄표_20230313170304.csv',encoding='cp949',header=0)
#pd_data = pd_data.drop(pd_data['품목군별(1)'])
#print(pd_data)
filter1 = pd_data['품목군별(2)']== '소계'
pd_data.loc[filter1,'품목군별(2)']=np.NaN
pd_data = pd_data.dropna()
pd_data=pd_data.drop(pd_data.columns[1],axis=1)
pd_data.columns=['년도','품목명','소득','소득률']
pd_data.head()
#sns.relplot(data=pd_data,x=''

     년도     품목명       소득   소득률
1  2021     겉보리   118525  30.3
2  2021     쌀보리   201414  39.6
3  2021       밀   229152  45.8
4  2021  노지풋옥수수  1029639  54.7
5  2021     고구마  2005282  52.3

In [70]:
pd_data['소득 순위'] = pd_data['소득'].rank(method='min', ascending=False)
pd_data['소득률 순위'] = pd_data['소득률'].rank(method='min', ascending=False)
pd_data.head()
#sns.relplot(data=pd_data,x='품목명',y='소득')
income_top5 =

     년도     품목명       소득   소득률  소득 순위  소득률 순위
1  2021     겉보리   118525  30.3   50.0    47.0
2  2021     쌀보리   201414  39.6   49.0    43.0
3  2021       밀   229152  45.8   48.0    29.0
4  2021  노지풋옥수수  1029639  54.7   40.0    15.0
5  2021     고구마  2005282  52.3   30.0    24.0